<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Ticketing System</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <header>
        
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                <li><a href="{{ url_for('register_page') }}">Register</a></li>
                 <li><a href="{{ url_for('register_page') }}">Availability</a></li>
                <li><a href="{{ url_for('summary_page') }}">Summary</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <h1>Event Ticketing System</h1>
        <p>Purchase your tickets with ease</p>
        <a href="{{ url_for('register_page') }}"><button>Register</button></a><br>
        <a href="{{ url_for('register_page') }}"><button>Purchase Tickets</button></a><br>
        <a href="{{ url_for('register_page') }}"><button>Ticket Availability</button></a><br>
        <a href="{{ url_for('summary_page') }}"><button>Summary</button></a>
    </div>
  
    <footer>
        Ticket System © 2025
    </footer>
</body>
</html>
